<!DOCTYPE html>
<html>
<head>
    <title>Base application</title>

    <link href="components/semantic/build/packaged/css/semantic.css" rel="stylesheet" type="text/css"/>
    <link href="style/main.css" rel="stylesheet" type="text/css"/>

</head>
<body class="auth-application waiting-for-angular">

<div id="login-modal" class="ui modal" ng-controller="LoginCtrl">

    <div class="header">
        Login
    </div>
    <div class="content">
        <div class="ui form">

            <div class="ui red message" ng-show="errorMessage">{{errorMessage}}</div>

            <form name="loginForm" ng-submit="send()">

                <div class="field">
                    <label>Username</label>

                    <div class="ui left labeled icon input">
                        <input type="text" placeholder="Username" ng-model="username"/>
                        <i class="user icon"></i>

                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Password</label>

                    <div class="ui left labeled icon input">
                        <input type="password" ng-model="password"/>
                        <i class="lock icon"></i>

                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <div ng-click="send()" class="ui blue fluid button">
            Sign in
        </div>
    </div>

</div>


<div class="ui tiered menu" ng-controller="MenuCtrl">
    <div class="menu">
        <a class="active item" ng-href="#/">
            <i class="home icon"></i> Users
        </a>
        <a class="item">
            <i class="grid layout icon"></i> List
        </a>
        <a class="item">
            <i class="mail icon"></i> Messages
        </a>

        <div class="right menu">
            <a href class="item" ng-click="logout()">
                <i class="logout icon"></i> Logout
            </a>

            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search..." ng-model="applicationSearch" />
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="ui dropdown item">
                More <i class="icon dropdown"></i>

                <div class="menu">
                    <a class="item"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui sub menu">
        <a class="active item">Search</a>
        <a class="item">Add</a>
        <a class="item">Remove</a>
    </div>
</div>

<div id="content" class="reveal-animation view" ng-view></div>

<script src="components/requirejs/require.js" data-main="script/main.js"></script>

</body>
</html>